body {
    background-color: darkgray;
    color: #FFFFFF;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;

}



h1{
    text-align: center;
    color: #FFFFFF;

}
.footer{
    text-align: center;
    margin: 0 auto;

}

